extends layout

block content
  div(class="columns is-centered")
    div(class="column is-4 box")
      div(class="container")
        form(action=`/polls/${poll._id}`, method="post")
          div(class="field")
            label(class="label") Title
            div(class="control")     
              input(type="text" name="title" class="input is-rounded" placeholder="Title" value=poll.title)

          div(class="field")
            label(class="label") Description
            div(class="control")
              textarea(name="description" class="textarea" cols="30" rows="10" ) !{poll.description}

          div(class="field")
            label(class="label") Opcion 1
            div(class="control")
              input(type="text" name="option1" class="input is-rounded" value=poll.options[0].text) 

          div(class="field")
            label(class="label") Opcion 2
            div(class="control")
              input(type="text" name="option2" class="input is-rounded" value=poll.options[1].text)

          div(class="field")
            label(class="label") Opcion 3
            div(class="control")
              input(type="text" name="option3" class="input is-rounded" value=poll.options[2].text)

          div(class="field")
            label(class="label") Opcion 4
            div(class="control")
              input(type="text" name="option4" class="input is-rounded" value=poll.options[3].text)

          div(class="control")
            input(type="submit", value="Update" class="button is-link")
      
